{# Translations section macro. #}
{% from "components/atoms/section_header.html" import section_header %}
{% from "components/organisms/translations_languages.html" import translations_languages with context %}
{% from "components/organisms/translations_editor.html" import translations_editor with context %}

{% macro translations_section() -%}
<section id="translations" class="amb-section">
    {{ section_header(t('ui.translations.title', 'Translations'), t('ui.translations.subtitle', 'Create, edit, and maintain language files for bot messages')) }}

    <div class="row">
        <div class="col-lg-4">
            {{ translations_languages() }}
        </div>

        <div class="col-lg-8">
            {{ translations_editor() }}
        </div>
    </div>
</section>
{%- endmacro %}
