{# Card component. #}
{% from "components/atoms/icon.html" import icon %}

{% macro card(title, icon_name=None, actions_html='') -%}
<div class="amb-card">
    <div class="amb-card-header">
        <h5>
            {% if icon_name %}{{ icon(icon_name) }}{% endif %}
            {{ title }}
        </h5>
        {% if actions_html %}
        <div class="amb-card-actions">{{ actions_html | safe }}</div>
        {% endif %}
    </div>
    <div class="amb-card-body">
        {{ caller() }}
    </div>
</div>
{%- endmacro %}
